.nav-bar {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-top: 20px;
  font-style: normal;
  justify-content: flex-end;
  color: blue;
}

a {
  flex-grow: 20px;
  font-style: normal;
  margin-right: auto;
  margin-left: 2rem;
}

p {
  color: rgb(147, 147, 241);
  width: 560px;
}

body {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  background-image: url(./background.png);
  background-size: contain;
}

.headline-container {
  display: flex;
  align-content: flex-start;
  margin: 50px;
}

h1 {
  color: rgb(108, 108, 154);
}

h2 {
  color: rgb(108, 108, 154);
}

.social-media {
  display: flex;
  align-items: baseline;
  gap: 1px;
}

ul li img {
  height: 15px;
  width: 15px;
}

ul {
  list-style: none;
}

h4 {
  color: rgb(162, 216, 234);
}

nav:hover {
  background-color: rgb(166, 174, 174);
}

img:hover {
  background-color: rgb(184, 170, 170);
}
