.nav-bar {
  display: flex;
  align-items: baseline;
  gap: 5px;
  padding: 5px 5px 5px 0;
  font-style: normal;
  justify-content: flex-end;
  color: blue;
}

a {
  font-style: normal;
  margin-right: auto;
  margin-left: 1rem;
  font-weight: bolder;
}

p {
  color: #172f58;
  align-content: space-around;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  border: 2px #091e42;
  max-width: 375px;
  height: 100vh;
  margin: auto;
}

.headline-container {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");

  display: flex;
  align-content: flex-start;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: #091e42;
  display: flex;
  flex-direction: row;
  width: 280px;
  padding-top: 40px;
  margin-bottom: 5px;
  font-size: 40px;
  font-style: bold;
  font-family: "Poppins", sans-serif;
}

.items1 {
  margin: 20px;
}

ul li img {
  height: 15px;
  width: 15px;
}

.icons {
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 56px;
  top: 1px;
  column-gap: 1 px;
}

.icons li {
  margin-left: 2px;
}

ul {
  list-style: none;
}

h4 {
  color: #7f8cff;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
}

nav:hover {
  background-color: rgb(166, 174, 174);
}

img:hover {
  background-color: rgb(199, 120, 120);
}

/* styling the middle sections or cards */

.middle-section {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 790px;
  box-sizing: border-box;
  place-items: center;
}

.card1 {
  background-color: #fff;
  border: 1px white;
  border-radius: 16px;
  height: 600px;
  width: 327px;
  align-self: flex-start;
  margin-top: 88px;
  padding-right: 5px;
}

.card2 {
  background-color: #fff;
  border: 1px white;
  border-radius: 16px;
  padding-left: 5px;
  height: 620px;
  width: 327px;
  margin-top: 0;
}

.card3 {
  background-color: #fff;
  border: 1px white;
  border-radius: 16px;
  padding-left: 5px;
  height: 580px;
  width: 327px;
  margin-top: 80px;
}

.card4 {
  background-color: #fff;
  border: 1px white;
  border-radius: 16px;
  margin-bottom: 80px;
  height: 630px;
  width: 327px;
  margin-top: 80px;
}

.word-title {
  font-family: "Poppins", sans-serif;
  padding: 16px;
}

.w-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.name {
  font-style: bold;
  font-weight: 800;
  font-size: 32px;
  color: #172b4d;
  vertical-align: top;
  line-height: 44px;
  margin: -3px;
}

.canop {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: baseline;
  align-self: flex-start;
}

.canop li:nth-child(n) {
  margin-top: 17px;
}

.languages li:nth-child(n) {
  border: 1px;
  border-radius: 8px;
  padding: 5px 12px 5px 12px;
  background-color: #ebebff;
  color: #6070ff;
  letter-spacing: 3%;
  font-size: 12px;
  text-emphasis-style: small;
  text-align: center;
  padding-top: 10px;
}

.start li:nth-child(2) {
  color: #acb7c3;
}

.lang-icons li:nth-child(n) {
  margin-top: 10px;
  padding: 30px;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.frame li:nth-child(1) {
  color: #000;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.frame li:nth-child(2) {
  color: #acb7c3;
  width: 2px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.skills li:nth-child(1) {
  color: #000;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  padding-right: 10px;
}

.skills li:nth-child(2) {
  padding: 0;
  color: #acb7c3;
  margin-left: 20px;
  margin-bottom: 20px;
}

.w-title ul li:first-child {
  list-style: none;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #344563;
}

.w-title ul li:nth-child(n + 2) {
  color: #7a869a;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  font-weight: 900;
  list-style-image: url(./images/dot1.png);
  margin-left: 20px;
}

.p-text {
  font-size: 15px;
  font-weight: 400;
  font-style: "Poppins", sans-serif;
  color: #344563;
  vertical-align: text-top;
  line-height: 44px;
  margin: 0;
}

.word {
  width: 295px;
  height: 76px;
  line-height: 24px;
}

.languages {
  display: flex;
  align-self: flex-start;
  padding-left: 0;
  gap: 10px;
  margin-top: 10px;
}

.see {
  border: 2px solid #dfe1e6;
  border-radius: 8px;
  background-color: #fff;
  font-size: 17px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #396df2;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  vertical-align: center;
  letter-spacing: 3%;
  margin-bottom: 10px;
}

.snapshoot {
  padding: 16px;
}

.about-me {
  display: grid;
  grid-template-columns: 1;
  background-color: #e5e5e5;
  width: 375px;
  height: 1263px;
}

.me {
  background-color: #fff;
  border-top-right-radius: 60px;
}

.myself {
  font-weight: 800;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  align-self: center;
  margin-top: 114px;
}

.hello {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  vertical-align: top;
  color: #344563;
  line-height: 24px;
  text-align: left;
}

.connect {
  color: #7f8cff;
  font-size: 20px;
}

.lang {
  display: flex;
  flex-direction: column;
}

.start {
  display: flex;
  line-height: 24px;
  justify-content: baseline;
  justify-content: space-between;
  padding-left: 10px;
}

.lan {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #000;
  vertical-align: center;
  font-weight: 700;
}

.lang-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 9px;
}

.end {
  margin-top: 40px;
}

.frame {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

hr.solid {
  color: #dfe1e6;
  width: 327px;
  height: 2px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.lang-icons li img {
  height: 48px;
  width: 48px;
}

.icons li img {
  width: 18px;
  height: 18px;
}

button:hover {
  background-color: #1f31cf;
  color: white;
}

button:active {
  background-color: #2230d2;
}

.contact-part {
  min-width: 375px;
  height: 690px;
  padding: 100px 64px 0 0;
  background-color: #6070ff;
  max-height: 846px;
  color: #ffff;
  text-align: center;
  border-top-left-radius: 120px;
  margin-top: 100px;
  background-image: url(./images/background.png);
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  vertical-align: center;
  color: #fff;
}

.para {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  vertical-align: top;
  padding-right: 20px;
  margin-left: 40px;
}

.formie {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.formie .field {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
  line-height: 20px;
  font-weight: 400;
  border: none;
  align-self: auto;
}

.formie .typing {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #172b4d;
  border: none;
}

.touch {
  padding: 12px 16px;
  background-color: white;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: none;
  border-radius: 6px;
  height: 45px;
  margin-right: 160px;
  cursor: pointer;
}

::placeholder {
  color: #172b4d;
  font-size: 17px;
  text-align: left;
  line-height: 17px;
}

.typing::placeholder {
  color: #b3bac5;
  font-size: 16px;
}

.shape {
  margin-top: 50px;
}
